@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

body {
  font-family: 'Poppins', sans-serif;
  background-color: #050816; /* primary color */
  color: #f3f3f3; /* white-100 */
}

/* For the experience timeline */
.vertical-timeline-element-content {
  background: #151030 !important; /* tertiary color */
  box-shadow: 0 3px 0 #804dee;
}
.vertical-timeline-element-date {
  color: #aaa6c3 !important; /* secondary color */
}
.vertical-timeline-element-icon {
    background: #151030 !important; /* tertiary color */
}